Metadatos:

shop_ID: Identificador único para cada tienda.
day_of_the_week: Codificado del 1 al 7, representando el día de la semana.
fecha: día, mes y año del punto de datos.
number_of_customers: Cantidad de clientes que visitaron la tienda ese día.
abierto: Variable binaria; 0 significa que la tienda estaba cerrada, mientras que 1 significa que estaba abierta.
promoción: Variable binaria; 0 significa que no hay promociones, 1 significa que hubo promociones.
state_holiday: codificado como 0, 'a', 'b', 'c', indica la presencia de un feriado estatal (0 si no hay ninguno). 'a', 'b', 'c' representan diferentes feriados estatales.
school_holiday: Variable binaria; 0 significa que no hubo vacaciones escolares, 1 significa que hubo vacaciones escolares.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor,AdaBoostRegressor, GradientBoostingRegressor

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, precision_score, recall_score, classification_report, confusion_matrix, f1_score
from sklearn.utils import resample

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import precision_score, recall_score, classification_report, confusion_matrix, f1_score
from sklearn.preprocessing import StandardScaler

from sklearn.utils import resample

# TABLA ENTRENAMIENTO

In [2]:
tabla1 =  pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/sales.csv", sep=',')
tabla1

,True_index,Store_ID,Day_of_week,Date,Nb_customers_on_day,Open,Promotion,State_holiday,School_holiday,Sales
0,0,625,3,2013-11-06,641,1,1,0,0,7293
1,1,293,2,2013-07-16,877,1,1,0,1,7060
2,2,39,4,2014-01-23,561,1,1,0,0,4565
3,3,676,4,2013-09-26,1584,1,1,0,0,6380
4,4,709,3,2014-01-22,1477,1,1,0,0,11647
...,...,...,...,...,...,...,...,...,...,...
640835,712040,674,6,2014-09-20,611,1,0,0,0,4702
640836,712041,1014,4,2015-01-15,1267,1,1,0,0,12545
640837,712042,135,6,2015-06-20,595,1,0,0,0,5823
640838,712043,810,1,2014-08-18,599,1,1,0,1,7986
640839,712044,592,1,2013-03-18,798,1,1,0,0,6565

In [3]:
tabla1.columns = tabla1.columns.str.lower()

In [4]:
# Convertir la columna Date a datetime
tabla1['date'] = pd.to_datetime(tabla1['date'])

# Crear las nuevas columnas year y month
tabla1['year'] = tabla1['date'].dt.year
tabla1['month'] = tabla1['date'].dt.month

# Reordenar las columnas para que year y month estén después de Day_of_week
cols = tabla1.columns.tolist()
cols.insert(cols.index('day_of_week') + 1, cols.pop(cols.index('month')))
cols.insert(cols.index('day_of_week') + 2, cols.pop(cols.index('year')))
tabla1 = tabla1[cols]

# Mostrar el dataframe actualizado
tabla1

,true_index,store_id,day_of_week,month,year,date,nb_customers_on_day,open,promotion,state_holiday,school_holiday,sales
0,0,625,3,11,2013,2013-11-06,641,1,1,0,0,7293
1,1,293,2,7,2013,2013-07-16,877,1,1,0,1,7060
2,2,39,4,1,2014,2014-01-23,561,1,1,0,0,4565
3,3,676,4,9,2013,2013-09-26,1584,1,1,0,0,6380
4,4,709,3,1,2014,2014-01-22,1477,1,1,0,0,11647
...,...,...,...,...,...,...,...,...,...,...,...,...
640835,712040,674,6,9,2014,2014-09-20,611,1,0,0,0,4702
640836,712041,1014,4,1,2015,2015-01-15,1267,1,1,0,0,12545
640837,712042,135,6,6,2015,2015-06-20,595,1,0,0,0,5823
640838,712043,810,1,8,2014,2014-08-18,599,1,1,0,1,7986
640839,712044,592,1,3,2013,2013-03-18,798,1,1,0,0,6565

In [5]:
tabla1 = tabla1[tabla1['open'] != 0]

In [6]:
tabla1 = tabla1.drop(columns=['date', 'true_index', "open"])

In [7]:
tabla1

,store_id,day_of_week,month,year,nb_customers_on_day,promotion,state_holiday,school_holiday,sales
0,625,3,11,2013,641,1,0,0,7293
1,293,2,7,2013,877,1,0,1,7060
2,39,4,1,2014,561,1,0,0,4565
3,676,4,9,2013,1584,1,0,0,6380
4,709,3,1,2014,1477,1,0,0,11647
...,...,...,...,...,...,...,...,...,...
640835,674,6,9,2014,611,0,0,0,4702
640836,1014,4,1,2015,1267,1,0,0,12545
640837,135,6,6,2015,595,0,0,0,5823
640838,810,1,8,2014,599,1,0,1,7986
640839,592,1,3,2013,798,1,0,0,6565

In [8]:
tabla1['state_holiday'] = tabla1['state_holiday'].apply(lambda x: 1 if x != '0' else 0)

In [9]:
tabla1

,store_id,day_of_week,month,year,nb_customers_on_day,promotion,state_holiday,school_holiday,sales
0,625,3,11,2013,641,1,0,0,7293
1,293,2,7,2013,877,1,0,1,7060
2,39,4,1,2014,561,1,0,0,4565
3,676,4,9,2013,1584,1,0,0,6380
4,709,3,1,2014,1477,1,0,0,11647
...,...,...,...,...,...,...,...,...,...
640835,674,6,9,2014,611,0,0,0,4702
640836,1014,4,1,2015,1267,1,0,0,12545
640837,135,6,6,2015,595,0,0,0,5823
640838,810,1,8,2014,599,1,0,1,7986
640839,592,1,3,2013,798,1,0,0,6565

In [10]:
tabla1.dtypes

store_id               int64
day_of_week            int64
month                  int32
year                   int32
nb_customers_on_day    int64
promotion              int64
state_holiday          int64
school_holiday         int64
sales                  int64
dtype: object

In [11]:
# Cambiar el tipo de dato de las columnas especificadas
tabla1['store_id'] = tabla1['store_id'].astype('category')
tabla1['day_of_week'] = tabla1['day_of_week'].astype('category')
tabla1['month'] = tabla1['month'].astype('category')
tabla1['year'] = tabla1['year'].astype('category')

# Verificar los cambios
tabla1.dtypes

store_id               category
day_of_week            category
month                  category
year                   category
nb_customers_on_day       int64
promotion                 int64
state_holiday             int64
school_holiday            int64
sales                     int64
dtype: object

In [12]:
tabla1

,store_id,day_of_week,month,year,nb_customers_on_day,promotion,state_holiday,school_holiday,sales
0,625,3,11,2013,641,1,0,0,7293
1,293,2,7,2013,877,1,0,1,7060
2,39,4,1,2014,561,1,0,0,4565
3,676,4,9,2013,1584,1,0,0,6380
4,709,3,1,2014,1477,1,0,0,11647
...,...,...,...,...,...,...,...,...,...
640835,674,6,9,2014,611,0,0,0,4702
640836,1014,4,1,2015,1267,1,0,0,12545
640837,135,6,6,2015,595,0,0,0,5823
640838,810,1,8,2014,599,1,0,1,7986
640839,592,1,3,2013,798,1,0,0,6565

In [13]:
non_numeric_columns = tabla1.select_dtypes(include=['object']).columns
numeric_columns = tabla1.select_dtypes(include=['int64']).columns

In [14]:

df_dummies = pd.get_dummies(tabla1, columns=non_numeric_columns)

## TRAIN TEST SPLIT

#### Quick EDA

In [29]:
grid = {"n_estimators": [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)],
        "estimator__max_leaf_nodes": [int(x) for x in np.linspace(start = 500, stop = 3000, num = 10)],
        "estimator__max_depth":[int(x) for x in np.linspace(10, 110, num = 11)]}

In [30]:
ada_reg = AdaBoostRegressor(DecisionTreeRegressor())

model = RandomizedSearchCV(estimator = ada_reg, param_distributions = grid, n_iter = 10, cv = 5, n_jobs = -1)

In [31]:
features = df_dummies.drop(columns = ["sales"])
target = df_dummies["sales"]

In [32]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.20, random_state=0)

In [33]:
normalizer = MinMaxScaler()

normalizer.fit(X_train)

MinMaxScaler()

In [34]:
X_train_norm = normalizer.transform(X_train)

X_test_norm = normalizer.transform(X_test)

In [35]:
X_train_norm = pd.DataFrame(X_train_norm, columns = X_train.columns)
X_test_norm = pd.DataFrame(X_test_norm, columns = X_test.columns)

In [ ]:
model.fit(X_train_norm,y_train)

In [ ]:
model.best_params_

In [ ]:
best_model = model.best_estimator_

In [ ]:
pred = best_model.predict(X_test_norm)

print("MAE", mean_absolute_error(pred, y_test))
print("RMSE", mean_squared_error(pred, y_test,))
print("R2 score", best_model.score(X_test_norm, y_test))

# TABLA PRUEBA

In [ ]:
tabla2 =  pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/ironkaggle_notarget.csv", sep=',')
tabla2

In [30]:
tabla2.columns = tabla2.columns.str.lower()

In [31]:
tabla2['state_holiday'] = tabla2['state_holiday'].apply(lambda x: 1 if x != "0" else 0)

In [ ]:
tabla2.columns = tabla2.columns.str.lower()

# Mostrar los dataframes actualizados
tabla1.head()
tabla2.head()